<h2>This is an about page!</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit eius ad, blanditiis necessitatibus reiciendis ducimus. 
    Nostrum consequuntur, temporibus dolorem non perferendis, odio laboriosam ad delectus omnis accusantium unde optio, 
    quibusdam necessitatibus id expedita voluptates? Ea, voluptatum quis non, voluptatem eius earum est optio asperiores 
    id exercitationem ducimus ratione dolorem temporibus?
</p>
<button routerLink="/movies">Go Home</button>